* {
    margin: 0px;
    padding: 0px;
    font-family: roboto, sans-serif;
}

body {
    background: #fafafa;
}

/*/////////////////nav////////////////////////*/

#rectangle5 {
    position: relative;
    width: 1500px;
    height: 8px;
    background: #4A3174;
}

nav {
    height: 179px;
}

nav li {
    float: left;
    list-style-type: none;
    padding: 10px;
}

nav a {
    position: relative;
    left: 600px;
    top: 15px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #4A3174;
}

#bouton {
    position: relative;
    left: 320px;
    top: 15px;
    color: #fafafa;
    background-color: #4A3174;
    border: none;
    border-radius: 3px;
    width: 163px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
}

label {
    position: relative;
    left: 250px;
    top: 20px;
    color: #9d9d9d;
    font-weight: bold;
}

/*/////////////////////////////////header//////////////////*/

header {
    height: 300px;
}

#titre1 {
    color: #4A3174;
    font-family: roboto condensed, sans serif;
    font-weight: 700;
    line-height: 75px;
    font-size: 64px;
    position: absolute;
    left: 300px;
    top: 175px;
}

#logo {
    position: relative;
    right: 1150px;
    top: 175px;
    box-shadow: none;
    background-color: #fafafa;
}

header p {
    position: relative;
    right: 920px;
    top: 180px;
    font-size: 16px;
    color: #7a7a7a;
    white-space: nowrap;
}

#recherche {
    padding: 15px;
    position: relative;
    right: 500px;
    top: 100px;
    color: #9d9d9d;
    font-size: 17px;
    font-family: roboto condensed, sans serif;
    background: #ffffff;
    border-radius: 3px;
    height: 40px;
    width: 441px;
    border: none;
}

#GO {
    position: relative;
    top: 60px;
    right: 85px;
    width: 80px;
    height: 40px;
    border-radius: 3px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-family: roboto condensed;
    font-size: 17px;
    font-weight: 700;
    background-color: #4A3174;
    color: #fafafa;
    border: none;
    font-size: 15px;
    font-weight: bold;
}

/*//////////////////////////////////section//////////////////////////////*/

#titre2 {
    position: relative;
    left: 200px;
    bottom: 110px;
    height: 50px;
    width: 900px;
    font-family: roboto condensed, sans serif;
    font-weight: 700;
    font-size: 34px;
    white-space: nowrap;
    color: #4A3174;
}

section {
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 100px;
}

#proposition1, #proposition2, #proposition3 {
    box-shadow: 0px 4px 20px;
    background-color: #ffffff;
    padding: 20px;
    margin-left: 100px;
    height: 430px;
    width: 300px;
    position: relative;
    right: 200px;
}

span {
    color: #7a7a7a;
    font-size: 16px;
}

h4 {
    color: #222222;
    font-size: 19px;
}

/*/////////////////article/////////////////*/

article {
    height: 1200px;
    display: flex;
    flex-wrap: wrap;
}

article>h2 {
    position: relative;
    left: 60px;
    font-family: roboto condensed;
    font-size: 34px;
    color: #4A3174;
}

h2>span {
    font-size: 34px;
    color: gold;
}

.book {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    box-shadow: 0px 4px 20px;
    background-color: #ffffff;
    width: 90%;
    height: 150px;
    margin: 15px auto 15px auto;
}

.book p {
    padding: 15px;
    margin: 0px;
    font-size: 14px;
    text-align: left;
    width: 700px;
    position: relative;
    top: 30px;
    right: 200px;
    color: #cbcbcb;
}

.prix {
    position: relative;
    left: 800px;
    bottom: 90px;
    font-size: 19px;
    opacity: 0.42;
}

.book:hover {
    box-shadow: 5px 6px 30px;
    color: #9e9e9e;
    transition-duration: 0.3s;
}

.book :hover.prix {
    color: #EAAA08;
    font-size: 27px;
}

p:hover {
    color: grey;
}

.flotte {
    padding-left: 10px;
}

.book>h4 {
    padding-left: 10px;
    position: relative;
    right: -12px;
}

/*//////////////////footer///////////*/

footer {
    background-color: #4A3174;
    height: 500px;
    color: white;
    display: flex;
}

ul>li {
    width: 280px;
    position: relative;
    right: 200px;
}

footer>ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    position: relative;
    left: -100px;
    top: 120px;
    font-size: 20px;
    font-weight: 700;
    color: #E3E3E3;
    padding-right: 30px;
    line-height: 40px;
    width: 600px;
    white-space: nowrap;
}

footer>h2 {
    margin-top: 10px;
    padding-top: 20px;
    font-size: 35px;
    font-weight: 700;
    position: relative;
    left: 200px;
    width: 1000px;
    white-space: nowrap;
}

footer>img {
    position: relative;
    right: 350px;
    bottom: 200px;
}

a {
    text-decoration: none;
    color: lightgray;
}

footer a:hover {
    background-color: #715e90;
    ;
    border-radius: 2px;
}

@media screen and (max-width: 800px) {
    /*////nav///*/
    #bouton {
        position: relative;
        left: 120px;
        top: 80px;
    }
    label {
        position: relative;
        left: 220px;
        top: 120px;
    }
    /*/////header/////*/
    #recherche {
        position: relative;
        right: 800px;
        top: 200px;
    }
    #GO {
        position: relative;
        right: 450px;
        top: 160px;
    }
    #logo {
        position: relative;
    }
    header>p {
        position: relative;
        right: 650px;
    }
    /*////////////////section////*/
    #proposition3 {
        display: none;
    }
    #proposition1, .proposition2 {
        height: 360px;
        width: 200px;
    }
    /*///////////article////*/
    .book {
        width: 85%;
        height: 160px;
    }
    .book>p {
        position: relative;
        left: -15px;
        top: 5px;
    }
    .book>h4 {
        white-space: nowrap;
    }
    .prix {
        position: relative;
        left: -210px;
        bottom: 50px;
    }
    /*////footer///*/
    #liste3 {
        display: none;
    }
    #liste1, #liste2 {
        position: relative;
        left: -180px;
    }
    footer>img {
        position: relative;
        right: 350px;
    }
    footer>h2 {
        position: relative;
        right: 400px;
    }
}