* {
    margin: 0px;
    padding: 0px;
    font-family: roboto, sans-serif;
}

body {
    background: #fafafa;
}

/*/////////////////nav////////////////////////*/

.rectangle5 {
    position: absolute;
    width: 1200px;
    height: 8px;
    background: #4A3174;
}

nav {
    height: 179px;
}

nav ul {
    list-style-type: none;
}

nav li {
    float: left;
    width: 10%;
    text-align: center;
    padding: 26px;
    margin-left: 70px;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    line-height: 23px;
    font-weight: bold;
    color: #4A3174;
}

button {
    position: absolute;
    left: 1100px;
    top: 15px;
    color: #fafafa;
    background-color: #4A3174;
    border: none;
    border-radius: 3px;
    width: 163px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
}

label {
    position: absolute;
    left: 900px;
    top: 26px;
    color: #9d9d9d;
    font-weight: bold;
}

/*/////////////////////////////////header//////////////////*/

header {
    height: 300px;
}

header img {}

.titre1 {
    color: #4A3174;
    font-family: roboto condensed, sans serif;
    font-weight: 700;
    line-height: 75px;
    font-size: 64px;
    position: absolute;
    left: 300px;
    top: 175px;
}

.logo {
    position: absolute;
    left: 100px;
    top: 175px;
    box-shadow: none;
    background-color: #fafafa;
}

header p {
    position: absolute;
    left: 300px;
    top: 250px;
    font-size: 16px;
    color: #7a7a7a;
}

.recherche {
    padding: 15px;
    position: absolute;
    left: 800px;
    top: 200px;
    color: #9d9d9d;
    font-size: 17px;
    font-family: roboto condensed, sans serif;
    background: #ffffff;
    border-radius: 3px;
    height: 40px;
    width: 441px;
    border: none;
}

.GO {
    position: absolute;
    top: 200px;
    left: 1160px;
    width: 80px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-family: roboto condensed;
    font-size: 17px;
    font-weight: 700;
}

/*//////////////////////////////////section//////////////////////////////*/

.titre2 {
    position: absolute;
    left: 130px;
    top: 350px;
    height: 500px;
    font-family: roboto condensed, sans serif;
    font-weight: 700;
    font-size: 34px;
    color: #4A3174;
}

section {
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 100px;
}

section img {
    box-shadow: 0px 4px 20px;
    background-color: #ffffff;
    padding: 10px;
}

section h4 {
    box-shadow: 0px 4px 20px;
    background-color: #ffffff;
    padding: 10px;
}

/*/////////////////article/////////////////*/

article {
    height: 1400px;
    display: flex;
    flex-wrap: wrap;
}

.book {
    flex-direction: row;
    box-shadow: 0px 4px 20px;
    background-color: #ffffff;
    vertical-align: text-top;
    width: 80%;
    height: 150px;
    margin: auto;
}

.book:hover {
    box-shadow: 5px 6px 30px;
}

.flotte {
    /*vertical-align: top;*/
}

/*//////////////////footer///////////*/

footer {
    background-color: #4A3174;
    height: 500px;
    color: white;
    display: flex;
}

ul {
    flex-direction: row;
    list-style-type: none;
}